.main-three {
    height: 100%;
    padding: 1rem;
    background-color: var(--color-main);
    background-image: url(./../bg-images/bg-main-three-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

.main-three__article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;

    color: var(--color-light);
}

.main-three__image {
    width: 65%;
    margin-top: 100px;
}

.main-three__title {
    margin-top: 20%;
    margin-bottom: 1.25rem;

    font-size: 2rem;
    line-height: 2.44;
}

.main-three__article p {
    margin-bottom: 2.5rem;

    font-weight: 500;
    line-height: 1.75rem;
}

.box-euro {
    min-width: 280px;
    width: 95%;
    text-align: center;
    border-radius: 20px;

    background-color: var(--color-light);
    color: var(--color-text);
}

.box-euro-wrapper {
    width: 16rem;
    margin-left: auto;
    margin-right: auto;
}

.textthree {
    padding-top: 1.875rem;

    font-size: 3rem;
    font-weight: bold;
}

.box-euro-wrapper p {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    padding: 0 2rem;

    text-align: center;
    font-size: 0.9rem;
}

.btn-three {
    margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
    .main-three {
        background-image: url(./../bg-images/bg-main-three-dt.png);
    }

    .main-three__image {
        width: 70%;
        margin-top: -60px;
        margin-right: 30px;
        margin-left: 150px;
    }

    .main-three__article {
        display: flex;
        flex-direction: row;
        justify-content: end;
        text-align: start;

        color: var(--color-light);
    }

    .main-three__title {
        margin-top: 16rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1200px) {
    .main-three__image {
        margin-right: 50px;
        margin-left: 200px;
    }
}

/* sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px, */
