.main-three {
    height: 100%;
    padding: 1rem;
    background-color: var(--color-main);
    background-image: url(./../bg-images/bg-main-three-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
}

.main-three__article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;

    color: var(--color-light);
}

.main-three__image {
    width: 65%;
    margin-top: 7.5rem;
}

.main-three__title {
    margin-top: 20%;
    margin-bottom: 1.25rem;

    font-size: 2rem;
    line-height: 2.44rem;
}

.main-three__article p {
    margin-bottom: 2.5rem;

    font-weight: 500;
    line-height: 1.75rem;
}

.box-euro {
    min-width: 280px;
    width: 95%;
    text-align: center;
    border-radius: 20px;

    background-color: var(--color-light);
    color: var(--color-text);
}

.box-euro-wrapper {
    min-width: 16rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.textthree {
    padding-top: 1.875rem;

    font-size: 3rem;
    font-weight: bold;
}

.box-euro-wrapper p {
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    padding: 0 2rem;

    text-align: center;
    font-size: 0.9rem;
}

.btn-three {
    margin-bottom: 1.875rem;
}

@media (min-width: 768px) {
    .main-three {
        background-image: url(./../bg-images/bg-main-three-dt.png);
    }

    .main-three__image {
        padding: 1.875rem;
    }

    .main-three__article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: start;

        color: var(--color-light);
    }

    .main-three__title {
        margin-top: 15rem;
    }
}

@media (min-width: 992px) {
    .main-three__title {
        margin-top: 8rem;
        font-size: 2.625rem;
        line-height: 3.3125rem;
    }

    .main-three__article p {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 2rem;
    }

    .box-euro-wrapper p {
        padding: 0 1rem;
    }
}

@media (min-width: 1200px) {
    .main-three__image {
        width: 50%;
    }

    .main-three__title {
        font-size: 3.25rem;
        line-height: 3.9375rem;
    }

    .main-three__article p {
        font-size: 1.25rem;
        line-height: 2.1875rem;
    }
}
