.section-profit {
    height: 100%;
}

.section-profit__article {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: var(--color-text);
}

.section-profit__title {
    margin-top: 4.3rem;
    margin-bottom: 2.6875rem;
    font-size: 1.375rem;
    line-height: 1.68rem;
}

.section-profit__color__word {
    color: var(--color-main);
}

.section-profit__wrapper__text p {
    width: 300px;
    height: 30px;
    margin: 1rem 0.2rem 3.75rem;
    line-height: 1.5rem;
}

.section-profit__btn {
    margin-bottom: 4.375rem;
    margin-top: auto;
}

@media (min-width: 576px) {
    .section-profit {
        padding: 0rem 2rem;;
    }

    .section-profit__wrapper__text {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    .section-profit__title {
        font-size: 1.6875rem;
        line-height:2.5625rem;
    }

    .section-profit__wrapper__text p {
        margin-bottom: 5.75rem;
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }
}

@media (min-width: 768px) {
    .section-profit__title {
        font-size: 1.875rem;
        line-height: 3rem;
    }

    .section-profit__wrapper__text p {
        margin-bottom: 5.75rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
}

@media (min-width: 992px) {
    .section-profit__title {
        font-size: 1.8rem;
    }

    .section-profit__wrapper__text p {
        margin-right: 1.875rem;
        margin-bottom: 5.75rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
}

@media (min-width: 1200px) {
    .section-profit__title {
        font-size: 2.5rem;
        line-height: 3.1875rem;
    }

    .section-profit__wrapper__text p {
       width: 270px;
    }
}
