.section-certificate {
    height: 100%;
    background-color: var(--color-main);
    text-align: center;
}

.section-certificate__article {
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-certificate__images {
    width: 50%;
    margin-top: 60px;
}

.section-certificate__title,
.section-certificate__text {
    min-width: 300px;
    width: 100%;
    max-width: 450px;
    padding: 0.625rem;
    text-align: start;
}

.section-certificate__title {
    margin-top: 30px;
    font-size: 1.375rem;
    line-height: 1.6875rem;
}

.section-certificate__text {
    margin-bottom: 2.5rem;
}

.section-certificate__form__box {
    min-width: 180px;
    width: 100%;
    max-width: 450px;
    padding: 0.625rem;
}

.section-certificate__form__box input {
    min-width: 200px;
    width: 100%;
    max-width: 450px;
    color: var(--color-text);

    margin-top: 1.5625rem;
    padding: 1.25rem;

    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 70px;
}

.form-btn-wrapper {
    width: 100%;

    text-align: center;
}

.form-btn {
    min-width: 200px;
    width: 100%;
    max-width: 430px;
    margin: 1rem 0rem;
    padding: 16px 10px;
    border: 3px solid var(--color-light);
    cursor: pointer;
}

@media (min-width: 768px) {
    .section-certificate__wrapper__images {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }

    .section-certificate__title {
        margin-top: 50px;
    }

    .section-certificate__text {
        margin-bottom: 0rem;
    }

    .section-certificate__images {
        width: 35%;
        margin-top: 0px;
        margin-left: 40px;
    }

    .section-certificate__text {
        margin-bottom: 0.5rem;
    }

    .section-certificate__form__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .section-certificate__form__box input {
        margin-right: 0.5rem;
        height: 50px;
    }

    .form-btn {
        margin-top: 1.4rem;
        font-size: 14px;
    }
}

@media (min-width: 992px) {
}
