.thanks-container {
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-main);
    background-image: url(./../bg-images/bg-thanks-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% top;
    color: var(--color-light);
}

.logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 1.25rem;
}

.thanks__article {
    height: 95%;
    margin-top: 6.25rem;
    text-align: start;
}

.thanks__heading {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

.thanks__text {
    width: 250px;
    margin-top: 1.5rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.thanks__article strong {
    font-weight: 700;
    line-height: 1.875rem;
}

.thanks__btn {
    min-width: 300px;
    width: 100%;
    max-width: 500px;
    margin-top: 5rem;
    align-self: center;
    font-size: 1.375rem;

    background-color: var(--color-light);
    color: var(--color-main);
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.3);
}

.arrow-btn {
    font-size: 1.875rem;
    padding-right: 0.625rem;
}

@media (min-width: 576px) {
    .thanks-container {
        justify-content: center;
        background-image: url(./../bg-images/bg-thanks-dt.png);
    }

    .thanks__article {
        margin-left: 50px;
    }

    .thanks__heading {
        width: 465px;
        font-size: 2.5rem;
        line-height: 3.125rem;
    }

    .thanks__text {
        width: 400px;
        font-size: 1.25rem;
        line-height: 2.1875rem;
    }
}

@media (min-width: 768px) {
    .logo {
        width: 98px;
        height: 98px;
    }

    .thanks__btn {
        margin-top: 3.125rem;
    }

    .arrow-btn {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .thanks__article {
        margin-left: auto;
        margin-right: auto;
    }

    .thanks__heading {
        width: 850px;
        font-weight: 900;
        font-size: 78px;
        line-height: 95px;
    }

    .thanks__text {
        width: 800px;
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
    }
}
